n8n-workflows/call-scheduler.json
{
  "name": "Jarvis Call Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{ $env.JARVIS_BACKEND_URL }}/n8n/pending-calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-pending-calls",
      "name": "Get Pending Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jarvis-auth",
          "name": "Jarvis Backend Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-calls",
              "leftValue": "={{ $json.calls.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-calls",
      "name": "Has Pending Calls?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "calls",
        "options": {}
      },
      "id": "split-calls",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, -100]
    },
    {
      "parameters": {
        "url": "={{ $env.JARVIS_BACKEND_URL }}/n8n/call/{{ $json.id }}/start",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "twilio_call_sid",
              "value": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-call-started",
      "name": "Mark Call Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "resource": "call",
        "operation": "create",
        "to": "={{ $json.target_phone }}",
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "url": "={{ $env.JARVIS_BACKEND_URL }}/twilio/voice",
        "additionalFields": {
          "statusCallback": "={{ $env.JARVIS_BACKEND_URL }}/twilio/status",
          "statusCallbackEvent": ["initiated", "ringing", "answered", "completed"]
        }
      },
      "id": "initiate-twilio-call",
      "name": "Initiate Twilio Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1100, -100],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.JARVIS_BACKEND_URL }}/n8n/call/{{ $('Split Into Items').item.json.id }}/start",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "twilio_call_sid",
              "value": "={{ $json.sid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-call-sid",
      "name": "Update Call SID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -200]
    },
    {
      "parameters": {
        "url": "={{ $env.JARVIS_BACKEND_URL }}/n8n/call/{{ $('Split Into Items').item.json.id }}/error",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error_message",
              "value": "={{ $json.error.message || 'Twilio call initiation failed' }}"
            },
            {
              "name": "error_code",
              "value": "TWILIO_ERROR"
            }
          ]
        },
        "options": {}
      },
      "id": "log-twilio-error",
      "name": "Log Twilio Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "url": "={{ $env.JARVIS_BACKEND_URL }}/n8n/log",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "call-scheduler"
            },
            {
              "name": "node",
              "value": "={{ $node.name }}"
            },
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "Call initiated successfully"
            },
            {
              "name": "call_task_id",
              "value": "={{ $('Split Into Items').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -200]
    },
    {
      "parameters": {
        "url": "={{ $env.JARVIS_BACKEND_URL }}/n8n/log",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "call-scheduler"
            },
            {
              "name": "node",
              "value": "Initiate Twilio Call"
            },
            {
              "name": "level",
              "value": "error"
            },
            {
              "name": "message",
              "value": "={{ $json.error?.message || 'Twilio call failed' }}"
            },
            {
              "name": "call_task_id",
              "value": "={{ $('Split Into Items').item.json.id }}"
            },
            {
              "name": "context",
              "value": "={{ JSON.stringify({ phone: $('Split Into Items').item.json.target_phone, error: $json.error }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0]
    },
    {
      "parameters": {},
      "id": "no-pending",
      "name": "No Pending Calls",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100]
    }
  ],
  "connections": {
    "Every 30 Seconds": {
      "main": [
        [
          {
            "node": "Get Pending Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Calls": {
      "main": [
        [
          {
            "node": "Has Pending Calls?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Calls?": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Mark Call Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Call Started": {
      "main": [
        [
          {
            "node": "Initiate Twilio Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate Twilio Call": {
      "main": [
        [
          {
            "node": "Update Call SID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Twilio Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call SID": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Twilio Error": {
      "main": [
        [
          {
            "node": "Log Error to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["jarvis", "calls", "scheduler"]
}
