n8n-workflows/error-logger.json
{
  "name": "Jarvis Error Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-error",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-error",
      "name": "Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "log-error"
    },
    {
      "parameters": {
        "url": "={{ $env.JARVIS_BACKEND_URL }}/n8n/log",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "={{ $json.body.workflow || 'unknown' }}"
            },
            {
              "name": "node",
              "value": "={{ $json.body.node || 'unknown' }}"
            },
            {
              "name": "level",
              "value": "error"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message || 'Unknown error' }}"
            },
            {
              "name": "context",
              "value": "={{ JSON.stringify($json.body.context || {}) }}"
            },
            {
              "name": "call_task_id",
              "value": "={{ $json.body.call_task_id || null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-to-backend",
      "name": "Log Error to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jarvis-auth",
          "name": "Jarvis Backend Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-critical",
              "leftValue": "={{ $('Error Webhook').item.json.body.severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-critical",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL }}",
        "subject": "[CRITICAL] Jarvis System Error - {{ $('Error Webhook').item.json.body.workflow }}",
        "emailType": "text",
        "message": "A critical error occurred in the Jarvis system.\n\nWorkflow: {{ $('Error Webhook').item.json.body.workflow }}\nNode: {{ $('Error Webhook').item.json.body.node }}\nMessage: {{ $('Error Webhook').item.json.body.message }}\n\nContext:\n{{ JSON.stringify($('Error Webhook').item.json.body.context, null, 2) }}\n\nTimestamp: {{ new Date().toISOString() }}",
        "options": {}
      },
      "id": "send-alert-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, -100],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "logged"
            },
            {
              "name": "alert_sent",
              "value": "={{ $('Is Critical?').outputIndex === 0 ? 'true' : 'false' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0]
    },
    {
      "parameters": {},
      "id": "no-alert",
      "name": "No Alert Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100]
    }
  ],
  "connections": {
    "Error Webhook": {
      "main": [
        [
          {
            "node": "Log Error to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Backend": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alert Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Alert Needed": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["jarvis", "logging", "errors", "alerts"]
}
